.uiux__header {
    display: flex;
}

.uiux__header-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-right: 5rem;
}

.uiux__header-content h1 {
    font-family:var(--font-family);
    font-weight: 800;
}